@import 'src/styles';

.topnav {
  background-color: $ivory-1;
  overflow: hidden;
  position: absolute;
  height: 44px;
  width: 100vw;
  font-size: 14px;
  padding-left: 14px;
  padding-right: 14px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #212221;
  top: 0;
}

.topnav__product,
.topnav__user {
  display: flex;
  //align-items: center;
  gap: 10px;
}

.topnav a {
  padding-top: 12px;
  font-family: $mnt;
  font-weight: normal;
  float: left;
  color: #222222;
  text-decoration: none;
  height: fit-content;
  //cursor: pointer;

  &:hover {
    border-bottom: 2px solid #222;
    transition: all 0.1s ease-out;
  }
}

.topnav__active {
  border-bottom: 2px solid #222;
}
