@import '../../../../../styles';

.signin-form__container {
  background-color: $ivory-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
  height: 100vh;
  width: 100vw;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 25rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
}

.signin-form__header {
  color: $navy;
  font-family: $mnt;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 14px;
  //letter-spacing: 2px;
}

.signin-form__input {
  width: 100%;
  background-color: $ivory-1;
  font-family: $pt;
  font-size: 20px;
  border: none;
  outline: 1px solid #212221;
  border-radius: 2px;
  color: $navy;
  margin-bottom: 10px;
  padding: 8px;

  &:active,
  &:hover {
    outline: 2px solid #212221;
  }

  ::placeholder {
    color: #9ca3ad;
  }
}

.signin-form__button {
  margin-top: 1rem;
  background-color: $ivory-1;
  color: $navy;
  text-align: center;
  font-family: $mnt;
  font-weight: 500;
  font-size: 20px;
  width: 100%;
  padding: 8px;
  border: solid 1px $navy;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    border-collapse: collapse;
    border: solid 1px $navy;
    transition: all 0.01s ease-in;
    box-shadow: inset 0 0 0 22px black;
    opacity: 1;
    color: $ivory-1;
  }
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-form__warning {
  text-align: center;
  font-family: $mnt;
  font-size: 16px;
  font-weight: 500;
  color: $navy;
  margin-top: 2rem;

  a {
    color: $navy;
    text-decoration: none;
    border-bottom: 1px solid $navy;

    &:hover {
      border-bottom: 2px solid $navy;
    }
  }
}

.signin-form__content {
  width: 100%;
}
