<router-outlet></router-outlet>
<!--<div class="d-flex flex-col p-2">-->
<!--  <div class="py-2">-->
<!--    <button-->
<!--      class="p-2 bg-green-200 hover:bg-green-400-->
<!--             font-monsterrat text-gray-600 font-medium hover:text-black-->
<!--             rounded-sm border-gray-400 hover:border-gray-700"-->
<!--    routerLink="login">Войти</button>-->
<!--  </div>-->
<!--  <div class="py-2">-->
<!--    <button-->
<!--      class="text-gray-600 p-2 bg-purple-100 font-monsterrat font-medium rounded-sm"-->
<!--    routerLink="signup">Создать аккаунт</button>-->
<!--  </div>-->
<!--</div>-->

