<div class="signin-form__container">
  <div class="signin-form">
    <h1 class="signin-form__header">Регистрация</h1>
    <form class="d-flex" [formGroup]="form" (ngSubmit)="onSubmit()">
      <input
        id="firstName"
        type="text"
        formControlName="first_name"
        class="signin-form__input"
        name="firstName"
        placeholder="Имя" />

      <input
        id="lastName"
        type="text"
        formControlName="last_name"
        class="signin-form__input"
        name="lastName"
        placeholder="Фамилия" />

      <input
        id="email"
        formControlName="email"
        type="text"
        class="signin-form__input"
        name="email"
        placeholder="Почта" />

      <input
        id="password"
        formControlName="password"
        type="password"
        class="signin-form__input"
        name="password"
        placeholder="Пароль" />

      <button
        type="submit"
        class="signin-form__button
               hover:bg-blue-400 hover:text-gray-800 focus:outline-none my-1"
      >Создать аккаунт
      </button>

      <div class="signin-form__warning text-sm text-gray-400 mt-4">
        Создавая аккаунт вы соглашетесь с нашей
        <a class="no-underline border-b border-grey-dark text-gray-400" href="#">
          Политикой в отношении обработки персональных данных
        </a>
      </div>
    </form>
  </div>

  <div class="signin-form__warning">
    Уже создавали аккаунт раньше?
    <a class="no-underline border-b border-blue hover:text-blue-400" routerLink="/auth/login">
      Войти
    </a>
  </div>
</div>
