html {
  background-color: rgba(31, 41, 55);
}

.signin-form__container {
  background-color: rgba(31, 41, 55);
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
}

.signin-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 28rem;
  padding: 2rem 1.5rem;
}

.signin-form__header {
  color: #d2d5da;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 42px;
  margin-bottom: 32px;
  letter-spacing: 2px;
}

.signin-form__input {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  color: #d2d5da;
  background-color: #394150;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
  border: none;

  ::placeholder {
    color: #9ca3ad;
  }
}

.signin-form__button {
  margin-top: 1rem;
  background-color: rgba(29, 78, 216);
  color: rgba(229, 231, 235);
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  max-width: 28rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.d-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin-form__warning {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(209, 213, 219);
  margin-top: 2rem;
}
